{
  "archive_name": "dhslabarchive",
  "ris_archive_path": "/storage1/fs1/dspencer/Archive/spencerlab/dhs-lab-ris-archive-1",
  "globus_endpoint": "b9545fe1-f647-40bf-9eaf-e66d2d1aaeb4",
  "s3_bucket": "dhs-lab-archive-1",
  "s3_region": "us-east-1",
  "storage_class": "STANDARD_IA",
  "db": "/storage2/fs1/dspencer/Active/spencerlab/apps/dhslab-archive/dhslab-archive.db",
  "username": "dspencer"
}